<div class="container">
<div class="bottom-margin">All Pricemarx</div>
    <div class ="row">
      
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
<div class="col-md-2">
  <center>
  <%= link_to tag.name, tag_path(tag), :class => css_class %>
  <p><xs>Number of Links: </xs> </n>
    <%= tag.count %></p>
  </center>
    </div>
    <% end %>
  </div>
</div>
</br>
<div class="col-sm-offset-1">
    <%= link_to 'Add Your Mark', new_pricemark_path, class: 'btn btn-success' %>
  </div>