<p>
  <strong>Url:</strong>
  <%= @pricemark.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @pricemark.user %>
</p>

<%= link_to 'Edit', edit_pricemark_path(@pricemark) %> |
<%= link_to 'Back', pricemarks_path %>