<h1>Links Tagged as <%= @tag.name %></h1>

<% if @favorite_pricemarks.count > 0 %>

  <ul>

  <% @favorite_pricemarks.each do |p| %>

    <li><%= link_to p.url, p.url %> 

  <% end %>

  </ul>

<% else %>

  <p>This tag is not associated with any PriceMarx. Go! Find!</p>

<% end %>