<center><div class="jumbotron", align=center>
   <div class="container">
<h1>Welcome to PriceMarx</h1>
<h2>X Marx the Spot</h2> 
<span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-remove"></span>
<p>For Fun!</p>
<% if current_user %>
  <%= link_to 'Start Marking', new_pricemark_path, class: 'btn btn-success' %>
  </div>
    <% else %>
      <%= link_to "Sign In", login_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", signup_path, class: 'btn btn-info' %>
    <%end%>
</div>
</div>
