@import "bootstrap-sprockets";
@import "bootstrap";

.tag_info {
    background-color: #dedef8;
     inset: 1px -1px 1px #444; 
     inset: -1px 1px 1px #444;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

  .user-info {
    margin-top: 9px;
  }

  .tag_head {
  font-size: 40px;
  color: #CC00FF;
  text-decoration: underline;
  text-align: center;
  }

  .nav {
    margin-top: 5px;
  }

  .favorite {
 margin-left: 10px;
 }
 
 .signature {
   font-style: italic;
   font-size: small;
}